In [1]:
list_ = ['한지만', 25, 78, 88, 95]
dir(list_)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
tot = list_[2] + list_[3] + list_[4]
avg = tot/3.0
grade = None
if 90<=avg<=100: grade = 'A'
elif 80<=avg<90 : grade = 'B'
elif 70<=avg<60 : grade = 'C'
elif 60<=avg<70 : grade = 'D'
else : grade = 'F'
list_.append(tot)
list_.append(avg)
list_.append(grade)
print(list_)

['한지만', 25, 78, 88, 95, 261, 87.0, 'B']

In [6]:
student_ =[]
name = input('Name : ')
student_.append(name)
kor = int(input('Korean : '))
student_.append(kor)
eng = int(input('English : '))
student_.append(eng)
math = int(input('Math : '))
student_.append(math)
print(student_)

Name : 박지민
Korean : 56
English : 78
Math : 90
['박지민', 56, 78, 90]

In [7]:
#tuple은 ()을 생략해도 된다 => python은 앞에 '(' , ')'가 이미 존재하기 때문에
tuple_ ='김지민', 35, 77, 88, 99
# tuple_ =('김지민', 35, 77, 88, 99)와 같다
dir(tuple_)
# __가 없는 것이 함수 이다

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [8]:
tuple_[1] = 45 # tuple은 수정이 안 된다.

TypeError: 'tuple' object does not support item assignment

In [12]:
student_ = {'이름' : '한지민', '나이' : 25, '국어' : 77, '영어' : 88, '수학' : 99}
tot = student_['국어'] + student_['영어'] + student_['수학']
student_['총점'] = tot
print(student_)

{'이름': '한지민', '나이': 25, '국어': 77, '영어': 88, '수학': 99, '총점': 264}

In [13]:
type(student_)

dict

In [26]:
time = int(input("초를 입력하세요: "))
hour = time //3600
min = (time % 3600) //60
sec = (time % 3600) %60
print(time,'초는 ',hour,'시', min,'분', sec,'초 입니다.')
print(f"{time}초는 {hour}시 {min}분 {sec}초 입니다.")
print("%d 초는 %d시간 %d분 %d초 입니다" %(time, hour, min, sec))

초를 입력하세요: 3700
3700 초는  1 시 1 분 40 초 입니다.
3700초는 1시 1분 40초 입니다.
3700 초는 1시간 1분 40초 입니다

In [29]:
### BMI지수
name = input("이름 : ")
height = float(input("키 : "))
height = height / 100
weight = int(input("몸무게 : "))
bmi = weight / (height ** 2)
bmi_str = None

if bmi >=35 : bmi_str ='고도비만'
elif 30<=bmi<35 : bmi_str = '중도 비만'
elif 25<=bmi<30 : bmi_str = '경도비만'
elif 23<=bmi<25 : bmi_str = '과체중'
elif 18.5<=bmi<23 : bmi_str = '정상'
else : bim_str = '저체중'

이름 : 김길호
키 : 181
몸무게 : 75

In [3]:
for num in range(1, 301) :
    if num % 7 == 0:
        print(num, end =" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [11]:
count = 0
for num in range(1, 501) :
    if num % 7 == 0:
        count+=1
print(f"7의 배수의 갯수는 {count}입니다")

7의 배수의 갯수는 71입니다

In [12]:
count = 0
for num in range(1,501):
    if num % 7 ==0:
        count += 1
        print(num, end=' ')
        if count % 5 == 0:
            print()

7 14 21 28 35
42 49 56 63 70
77 84 91 98 105
112 119 126 133 140
147 154 161 168 175
182 189 196 203 210
217 224 231 238 245
252 259 266 273 280
287 294 301 308 315
322 329 336 343 350
357 364 371 378 385
392 399 406 413 420
427 434 441 448 455
462 469 476 483 490
497

In [14]:
num = 1
while num <= 5 :
    print(num, end=' ')
    num +=1

1 2 3 4 5

In [24]:
count = 0
line = 1
for num in range(65, 91):
    if line % 2 == 0:
        print(chr(num+32), end= ' ')
    else:
        print(chr(num), end= ' ')
    count = count + 1
    if count % 5 == 0:
        line += 1
        print()

A B C D E
f g h i j
K L M N O
p q r s t
U V W X Y
z

In [25]:
sum = 0
for num in range(1, 101):
    sum += num
print('sum =', sum)

sum = 5050

In [26]:
### 함수로 만들기
def cal_sum():
    sum = 0
    for num in range(1,101):
        sum +=num
    print('sum =', sum)

In [30]:
### 함수는 call하지 않는한 절대 일을 하지 않는다
cal_sum() # Call By Name

sum = 5050

In [33]:
def calcSum():
    sum = 0
    for num in range(1, 101):
        sum += num
    print('1부터 100까지의 합', sum, '입니다.')

In [34]:
calcSum()

1부터 100까지의 합 5050 입니다.

In [35]:
def calcSum1(last):
    sum = 0
    for num in range(1, last+1):
        sum += num
    print(f'1부터 {last}까지의 합 {sum} 입니다.')

In [36]:
calcSum1(50) # 이름이 아닌 값으로 호출을 진행 => Call By Value => 옵션이 생긴다.

1부터 50까지의 합 1275 입니다.

In [37]:
calcSum1(10)

1부터 10까지의 합 55 입니다.

In [38]:
def calcSum2(start,last):
    sum = 0
    for num in range(start, last+1):
        sum += num
    print(f'{start}부터 {last}까지의 합 {sum} 입니다.')

In [39]:
calcSum2(1,50)

1부터 50까지의 합 1275 입니다.

In [40]:
calcSum2(20,50)

20부터 50까지의 합 1085 입니다.

    immutable object : number, string   #Call by Value
    mutable object : list, tuple, dictionary   #Call by Reference
    mutable => 수정이 가능하다.

In [1]:
def changeme(other):
    other = 100000
    print('In function, other =', other)

In [2]:
original = 10
changeme(original)
print('original =', original)

In function, other = 100000
original = 10

In [4]:
def changeme(other):
    other = '박지민'
    print('In function, other =', other)

In [5]:
original = '한지민'
changeme(original)
print('original =', original)

In function, other = 박지민
original = 한지민

In [7]:
### 바뀌지 않는다 => Call By Value

In [8]:
def changeme(other):
    other[2] = 'Straw Berry'
    print('In function, other =', other)

In [9]:
original = ['Apple', 'Mango', 'Banana']
changeme(original)
print('original =', original)

In function, other = ['Apple', 'Mango', 'Straw Berry']
original = ['Apple', 'Mango', 'Straw Berry']

In [10]:
def changeme(other):
    other['Age'] = '45'
    print('In function, other =', other)

In [11]:
original = {'Age' : 25}
changeme(original)
print('original =', original)

In function, other = {'Age': '45'}
original = {'Age': '45'}

In [16]:
def input_student(student):
    student['name'] = input('Name : ')
    student['age'] = input('Age : ')

In [17]:
def output_student(student):
    print('이름 = %s, 나이 = %s입니다.'%(student['name'],student['age']))

In [18]:
print(__name__)  
# 파이썬에서 모듈은 .py가 모듈이며 실행하는 파일은 main이다 
# => 서로서로가 main이라고 판단한다 그래서 호출하는 것이 main으로 정한다

__main__

In [19]:
student_ = {}
if __name__ == '__main__': # => 실행주체가 main이기 때문에
    input_student(student_)
    output_student(student_)

Name : 한지민
Age : 25
이름 = 한지민, 나이 = 25입니다.

In [20]:
pip install nbconvert

Requirement already satisfied: nbconvert in ./0222/lib/python3.10/site-packages (7.2.9)
Requirement already satisfied: defusedxml in ./0222/lib/python3.10/site-packages (from nbconvert) (0.7.1)
Requirement already satisfied: pygments>=2.4.1 in ./0222/lib/python3.10/site-packages (from nbconvert) (2.14.0)
Requirement already satisfied: nbclient>=0.5.0 in ./0222/lib/python3.10/site-packages (from nbconvert) (0.7.2)
Requirement already satisfied: pandocfilters>=1.4.1 in ./0222/lib/python3.10/site-packages (from nbconvert) (1.5.0)
Requirement already satisfied: jinja2>=3.0 in ./0222/lib/python3.10/site-packages (from nbconvert) (3.1.2)
Requirement already satisfied: jupyterlab-pygments in ./0222/lib/python3.10/site-packages (from nbconvert) (0.2.2)
Requirement already satisfied: bleach in ./0222/lib/python3.10/site-packages (from nbconvert) (6.0.0)
Requirement already satisfied: jupyter-core>=4.7 in ./0222/lib/python3.10/site-packages (from nbconvert) (5.2.0)
Requirement already satisfied: markupsafe>=2.0 in ./0222/lib/python3.10/site-packages (from nbconvert) (2.1.2)
Requirement already satisfied: mistune<3,>=2.0.3 in ./0222/lib/python3.10/site-packages (from nbconvert) (2.0.5)
Requirement already satisfied: nbformat>=5.1 in ./0222/lib/python3.10/site-packages (from nbconvert) (5.7.3)
Requirement already satisfied: beautifulsoup4 in ./0222/lib/python3.10/site-packages (from nbconvert) (4.11.2)
Requirement already satisfied: tinycss2 in ./0222/lib/python3.10/site-packages (from nbconvert) (1.2.1)
Requirement already satisfied: packaging in ./0222/lib/python3.10/site-packages (from nbconvert) (23.0)
Requirement already satisfied: traitlets>=5.0 in ./0222/lib/python3.10/site-packages (from nbconvert) (5.9.0)
Requirement already satisfied: platformdirs>=2.5 in ./0222/lib/python3.10/site-packages (from jupyter-core>=4.7->nbconvert) (3.0.0)
Requirement already satisfied: jupyter-client>=6.1.12 in ./0222/lib/python3.10/site-packages (from nbclient>=0.5.0->nbconvert) (8.0.3)
Requirement already satisfied: jsonschema>=2.6 in ./0222/lib/python3.10/site-packages (from nbformat>=5.1->nbconvert) (4.17.3)
Requirement already satisfied: fastjsonschema in ./0222/lib/python3.10/site-packages (from nbformat>=5.1->nbconvert) (2.16.2)
Requirement already satisfied: soupsieve>1.2 in ./0222/lib/python3.10/site-packages (from beautifulsoup4->nbconvert) (2.4)
Requirement already satisfied: six>=1.9.0 in ./0222/lib/python3.10/site-packages (from bleach->nbconvert) (1.16.0)
Requirement already satisfied: webencodings in ./0222/lib/python3.10/site-packages (from bleach->nbconvert) (0.5.1)
Requirement already satisfied: attrs>=17.4.0 in ./0222/lib/python3.10/site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert) (22.2.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in ./0222/lib/python3.10/site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert) (0.19.3)
Requirement already satisfied: pyzmq>=23.0 in ./0222/lib/python3.10/site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (25.0.0)
Requirement already satisfied: tornado>=6.2 in ./0222/lib/python3.10/site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (6.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./0222/lib/python3.10/site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (2.8.2)

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [21]:
import nbconvert

In [22]:
jupyter nbconvert --to script myinput.ipynb

SyntaxError: invalid syntax (1992505222.py, line 1)

In [1]:
print("hello")

hello

In [2]:
import myinput

In [5]:
student ={}
myinput.input_student(student)
print(student)

Name : 한지민
Age : 25
{'name': '한지민', 'age': '25'}

In [1]:
import util

In [4]:
print('INCH = ', util.INCH)
print('1부터 100까지의 합은',util.calcSum())

INCH =  2.54
1부터 100까지의 합은 5050