In [1]:
import input, calc, output

In [2]:
student = {}
print('Program is Stating...')
input.input_student(student)
calc.calc_student(student)
output.output_student(student)
print('Program is over...')

Program is Stating...
Name : 김길호
Korean : 98
English : 98
Math : 98
이름 =  김길호  국어 =  98  영어 =  98  수학 =  98  총점 =  294  평균 =  98.0  성적 =  A
Program is over...

In [1]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in /home/ubuntu/.local/lib/python3.10/site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /home/ubuntu/.local/lib/python3.10/site-packages (from mysql-connector-python) (3.20.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector

In [8]:
host='ec2-43-200-255-254.ap-northeast-2.compute.amazonaws.com' # EC2의 public DNS
user = 'root'
password = 'pythonmysql'
port = 3306
database = 'mycompany'

mydb = mysql.connector.connect(
  host= host,
  user= user,
  password= password,
    port = port,
    database = database
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

mydb.close() # db를 connector로 열었으면 close()함수로 닫아야한다.

In [9]:
host='ec2-43-200-255-254.ap-northeast-2.compute.amazonaws.com' # EC2의 public DNS
user = 'root'
password = 'pythonmysql'
port = 3306
database = 'mycompany'

mydb = mysql.connector.connect(
  host= host,
  user= user,
  password= password,
    port = port,
    database = database
)

mycursor = mydb.cursor()

query = """
CREATE TABLE member(
    userid   varchar(12)  NOT NULL PRIMARY KEY, 
    username varchar(20) NOT NULL,
    age TINYINT,
    city varchar(30)
)

"""
mycursor.execute(query)
# mycursor.execute("SHOW DATABASES")

# for x in mycursor:
#     print(x)

mydb.close() # db를 connector로 열었으면 close()함수로 닫아야한다.

In [10]:
host='ec2-43-200-255-254.ap-northeast-2.compute.amazonaws.com' # EC2의 public DNS
user = 'root'
password = 'pythonmysql'
port = 3306
database = 'mycompany'

mydb = mysql.connector.connect(
  host= host,
  user= user,
  password= password,
    port = port,
    database = database
)

mycursor = mydb.cursor()

# query = """
# CREATE TABLE member(
#     userid   varchar(12)  NOT NULL PRIMARY KEY, 
#     username varchar(20) NOT NULL,
#     age TINYINT,
#     city varchar(30)
# )

# """

query = """
INSERT INTO member
VALUES('jimin','한지민', 25, '대구광역시');
COMMIT;

"""
mycursor.execute(query)
# mycursor.execute("SHOW DATABASES")

# for x in mycursor:
#     print(x)

mydb.close() # db를 connector로 열었으면 close()함수로 닫아야한다.